# Python related
__pycache__/

# Virtual environments
*venv/

# IDEs and editors
.vscode/

# Project outputs / large data
unity_output/
tiles_rgb/
tiles_height/
*.raw
*.tif
*.tiff
*.TIF

*.json

# Image files
*.png

# Master branch images folder
master branch images/

# Improsat images folder
Improsat images/

# README PNGs
!Unity Codes/*.png