Binary/
Elevation_data/
Geotiffs/
Masks/
Orthophotos/
OSM_data/
yRIDGE4XP_Overlays
Previews/
Extents/Auto
tmp/
Tiles/
**/RIDGE4XP.log
**/__pycache__
**/Thumbs.db
**/*.bak
**/*.swp
.last_gui_params.txt
data/
*venv/